body {
  background: #fdfdfd; 
}

.invalid-feedback {
  display: block;
}

input.invalid {
  border-color: #dc3545;
}

.movie-page-card-text {
  font-size: 18px;
}

a:hover {
  text-decoration: none;
}

.img-actors-avatar {
  height: 213px;
}

.movie-preview-img-width {
  max-width: 540px;
}
